<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation Mot de passe</title>
</head>
<body>
<div>
    <h2 style="color:#253f58; font-size: 25px;">Redwire Réinitialisation du mot de passe</h2>
    <p style="font-size: 15px;">
        <strong style="color: #d92139; font-size: 15px;">
            {{ user.userName }}</strong>
        tu as oublié ton mot de passe, tu vas pouvoir le réinisialiser en suivant ce lien :</p>
    <p style="font-size: 15px;">
        <a href="{{ url }}">Réinitialisation du mot de passe</a>
    </p>
    <p style="font-size: 15px;">Redwire Team.
        <br/>
         ;)
    </p>
</div>
</body>
</html>