<form method="post" action="{{ path('annonce_delete', {'id': annonce.id}) }}"
      onsubmit="return confirm('Voulez-vous vraiment effacer cette annonce?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonce.id) }}">
    <button class="btn btn-danger mt-2"><i class="fas fa-trash-alt"></i> Effacer</button>
</form>
