{% form_theme form 'annonce/_form_theme.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-info btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
