<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}
</head>

<body background="/img/bg-masthead.jpg">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary" style="text-color:white">
        <a class="navbar-brand" href="/rubrique">Redwire</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/rubrique">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rubrique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Creer une annonce</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Mon Compte</a>
                </li>
            </ul>
            <li class="form-inline my-2 my-lg-0">
                <a href="#modal1" class="js-modal" class="btn btn-primary my-2 my-sm-0" data-target="#exampleModal">Connexion\creer un Compte</a>
            </li>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}
</body>

</html>