{% extends 'base.html.twig' %}

{% block title %}Hello RubriqueController!{% endblock %}

{% block body %}

    <h2 class="text-muted mt-4">les rubriques</h2><br>

    <div class="row">
        {% for rubrique in rubriques %}

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5>Rubrique :</h5>
                        <div class="title">{{ rubrique.libelle }}</div>
                        <br>
                        <a href=" {{ path('annonce_show_unsigned', {'id' : rubrique.id }) }} " class="btn btn-primary">voir
                            la rubrique</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
