{% extends 'base.html.twig' %}

{% block title %} Accueil{% endblock %}

{% block body %}

{#    <h2 class="text-muted mt-4">les rubriques</h2><br>#}

    <div class="row mt-3">
        {% for rubrique in rubriques %}

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card text-center shadow h-100">
                    <div class="card-body">
                        <h5>{{ rubrique.libelle }}</h5>
                        <br>
                        <a href=" {{ path('annonce_show_unsigned', {'id' : rubrique.id }) }} " class="btn btn-primary">Consulter</a>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
