{% extends 'base.html.twig' %}
{% block body %}

    <article>
        <h2>{{ rubrique.libelle }}</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero alias minima expedita,
                dignissimos eum suscipit natus delectus,
                eveniet eos saepe dolorum, porro sapiente rem recusandae minus quaerat? Reprehenderit, aperiam laudantium!
            </p>
        <div class="metadata">ecrit le 10/06/2019 à 19h00 dans la categorie politique</div>
        
    </article>

{% endblock %}

